.DailyGameCard{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    font-size: 1.5em;
    /* margin:50px; */

}
.DailyCards{
    display: flex;
    flex-flow: column;
    border-radius: 15px;
    overflow: hidden;
    background-color:var(--bg-primary);
    align-items: center;
    justify-content: space-between;
    width: 32%;
    text-align: center;
    flex-wrap: wrap;
    border: solid;
    border-width: 2px;
    border-color: var(--bg-secondary);

}

.card-cover{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
    border: none;
    width: 100%;
    height: 250px;
}

.card-text p{
    color: var(--bg-secondary);
    font-weight: 700;
    font-size: 1.25rem;
    transition: var(--transition-speed);
}

.daily-accent:hover{
    color: var(--accent-secondary);
    transition: var(--transition-speed);
}

#who-said{
    background-image: url("https://images.unsplash.com/photo-1551817958-d9d86fb29431?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80");
}

#who-liked{
    background-image: url("https://images.unsplash.com/photo-1561210596-383464a42be3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80");
}

#who-follows{
    background-image: url("https://images.unsplash.com/photo-1525770041010-2a1233dd8152?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80");
}