.InfoGameCard{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    font-size: 1.5em;
    /* margin:50px; */

}
.InfoCards{
    display: flex;
    flex-flow: column;
    border-radius: 15px;
    overflow: hidden;
    background-color:var(--bg-primary);
    align-items: center;
    justify-content: space-between;
    width: 32%;
    text-align: center;
    flex-wrap: wrap;
    border: solid;
    border-width: 2px;
    border-color: var(--bg-secondary);
}

.card-cover{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
    border: none;
    width: 100%;
    height: 250px;
}

.card-text p{
    color: var(--bg-secondary);
    font-weight: 700;
    font-size: 1.25rem;
    transition: var(--transition-speed);
}

.daily-accent{
    background-color: transparent;
    color: var(--bg-secondary);
    font-weight: 700;;
    font-size: 1.25rem;
    margin: 0;
}

.daily-accent:hover{
    color: var(--accent-secondary);
    transition: var(--transition-speed);
    background-color: transparent;
}

.info-accent{
    background-color: transparent;
    color: var(--bg-secondary);
    font-weight: 700;;
    font-size: 1.25rem;
    margin: 0;
}

.info-accent:hover{
    color: var(--accent-primary);
    transition: var(--transition-speed);
    background-color: transparent;
}

#who-said-info{
    background-image: url("https://images.unsplash.com/photo-1470434767159-ac7bf1b43351?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80");
}

#who-liked-info{
    background-image: url("https://images.unsplash.com/photo-1528421398855-8321179ea180?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80");
}

#who-follows-info{
    background-image: url("https://images.unsplash.com/photo-1592499879835-3a1691ab26be?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
}