.LandingpageTile{
    margin-top: 85px;
    width: 100%;
    display: block;
    font-size: 2.5em;
    justify-content: center;
    align-items: center;
}

.LandingpageTile img{
    width: 30px;
    height: 25px;
    padding: 2px;
}
.LandingpageTile button{
    height: 3rem;
    font-size: 1.5rem;
    line-height: 1.5rem;
    border-radius: 5px;
    background-color: #1DA2F2;
    align-items: center;
    justify-content: center;
    border: 0px;
    padding: 10px;
    font-size: large;
    color: white;
}

.hero{
    display: flex;
    flex-flow: row;
    width: calc(80vw - 75px);
    height: 80vh;
    border: solid;
    border-radius: 20px;
    border-color: var(--bg-secondary);
    border-width: 2px;
    box-shadow: 2px 4px 5px #2b2d2f	;
   
    margin: auto;
}

.hero-text{
    margin: auto 1rem;
    width: 50%;
    text-align: center;
}

.hero-text h1{
    font-size: 2.5rem;
    margin: 0;
}

.hero-text p{
    font-size: 1rem;
}

.hero-text em{
    color: var(--accent-secondary);
}

.hero-media{
    background-size: cover;
    background-position: center;
    background-image: url("https://images.unsplash.com/photo-1513118172236-00b7cc57e1fa?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=675&q=80");
    background-repeat: no-repeat;
    border-radius: 15px;
    border: none;
    overflow: hidden;
    width: 50%;
    height: 100%;
}

.hero-media img{
    margin: 0;
    width: auto;
    height: 100%;
    object-fit: fill;
    border-radius: 15px;
    overflow: hidden;
    
}

.SignIn{
    margin: auto;
    display: flex;
    flex-flow: row;
}