.navbar{
    position: sticky;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    top: 0;
    margin-left: 75px;
    width: calc(100vw - 75px);
    background-color: var(--bg-primary);
    height: 85px;
    border-bottom: solid;
    border-color: var(--bg-secondary);
    border-width: 2px;;
}

.navbar h1{
    padding: 0 5rem;
    color: var(--bg-secondary);
}

.playerInfo{
    display: flex;
    flex-flow: column;
    justify-content: center;
    margin-right: 1rem;
}

.playerProfile{
    padding: 0 5rem;
    display: flex;
    flex-flow: row;
    justify-content: center;
}

.playerProfile img{
    padding: 1rem;
    width: 50px;
    height: 50px;
}

.playerProfile p{
    margin: 0;
}