header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: -webkit-calc(100% - 40px);
  height: 6vh;
  margin: 20px;
  background-color: #EBECF0;

}

.LandingPage,
.Dashboard,
.PartyPage,
.GameDisplay{
  display: grid;
  width: 100%;
  min-height: -webkit-fill-available;
  height: -webkit-calc(94vh - 40px);
  background-color: #EBECF0;
  grid-template-areas: 
  "SideBar NavBar" 
  "SideBar GameTile";
  grid-template-columns: 1fr 6fr;
  grid-template-rows:  1fr 5fr;
  font-family: 'Times New Roman', Times, serif;
  font-weight: normal;
}



.NavBar {
  grid-area: NavBar;
}

.GameTile {
  grid-area: GameTile;
}

.SideBar {
  grid-area: SideBar;
}


