:root {
  font-size: 16px;
  font-family: 'Open Sans';
  --text-primary: #fff;
  --accent-primary: #D81E1A;
  --accent-secondary: #FFA600;
  --bg-primary: #141F2C;
  --bg-secondary: #1DA2F2;
  --transition-speed: 300ms;
}

body{
  background-color: var(--bg-primary);
  color: var(--text-primary);
}



.Dashboard,
.PartyPage,
.GameDisplay,
.Leaderboard{
  display: block;
  width: 100%;
 
  min-height: -webkit-fill-available;
  height: -webkit-calc(94vh - 40px);
  background-color: #EBECF0;
  grid-template-areas: 
  "SideBar NavBar" 
  "SideBar GameTile";
  grid-template-columns: 1fr 6fr;
  grid-template-rows:  1fr 5fr;
  font-family: Arial, Helvetica, sans-serif;;
  font-weight: normal;
  background-color: #141F2C;
}



.NavBar {
  grid-area: NavBar;
}

.GameTile {
  grid-area: GameTile;
}

.SideBar {
  grid-area: SideBar;
}


